.wp{
	width: 540px;
	height: 500px;
	margin: 0 auto;
	background-color: gray;
	margin-top: 2px;
}
.box1{
	width: 20px;
	height:20px;
	background-color: black;
	float: left;
	
}
.box2{
	width: 20px;
	height:20px;
	background-color: white;
	float: left;
}